<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.skensa.carisekolah.sekolahku">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" />
        <activity
            android:name=".home_siswa"
            android:label="Beranda">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".nilai_menu"
            android:label="Nilai"
            android:parentActivityName=".home_siswa" />
        <activity android:name=".matapelajaran" />
        <activity android:name=".jadwal_siswa"></activity>
    </application>

</manifest>